<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jessie Thoughts on Tech</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

    <header>
      <h1 class="homepage">Lets Tech</h1>
      <nav>
        {{#if loggedIn}}
        <a class="btn-no-style" href="/">Home</a>>
        <a class="btn-no-style" href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a class="btn-no-style" href="/login">login</a>
        <a class="btn-no-style" href="/">Home</a>
        {{/if}}
      </nav>
    </header>
    <div class="wrapper">
    <main>
      {{{ body }}}
    </main>
    <footer class="footer">
      Thank You For Teching with me Today!
    </footer>
  </div>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>