<section>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>Create New Post</h2>
  <form class="new-post-form">
    <div class="card">
      <label for="post-title card-header">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div class= "card-body">
      <label for="post-content">Content</label>
      <input id="post-content" name="post-content"  class="textarea card-text"/>
    </div>
    <button type="submit" class="btn">Create Post</button>
  </form>
  </div>
</section>

<script src="/javascript/add-post.js"></script>