{{#if posts.length}}
<section>
  <div class = "card">
  <h2 class="post">Your Posts</h2>
    <div class="card-header">
    {{#each posts as |post|}}
    {{> post-info post}}
       <div class="card-body">
      <a href="/dashboard/edit/{{post.id}}" class="edit-link button">Edit post</a>
    {{/each}}
    </div>
  </div>
</section>
{{/if}}

<!--<script src="/javascript/add-post.js"></script>-->