{{#if posts.length}}
<section>
  <h2 class="post">Your Posts</h2>
  <div class = "card">
  <div class="homepage-card">
    <div class="card-header">
    {{#each posts as |post|}}
    <div>
       <div class="card-body">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link button">Edit post</a>
    </div>
    {{/each}}
    </div>
  </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script