<form class="login-form form">
  <div class = "card .ml-1 mx-auto">
    <h2 class="card-header">Login</h2>
    <div class="card-body">
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button class="btn-style" type="submit">Login</button>
    <a href="/signup"><button type="button" class="button btn-style">Signup</button></a>
  </div>
  </div>
  </div>
</form>

<script src="/javascript/login.js"></script>